@import url("../colors/colors.css");

.control-center {
  background-color: @mantle;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.65);
  padding: 5px;
}

/* Widgets */
.widget-buttons-grid {
  padding-left: 40px;
  padding-right: 40px;
}


/* Mpris */
.widget-mpris-title {
    font-size: 11px;
}

.widget-mpris-subtitle {
    font-size: 10px;
}

/* Volume */
.widget-volume {
    padding: 6px 5px 5px 5px;
    margin: unset;
    font-size: 1.3rem;
}

.widget-volume > box > button {
    border: none;
    margin-right: 10px;
    background-color: unset;
}

.per-app-volume {
  margin-right: 15px;
}

/* Backlight */
.widget-backlight {
    padding: 0 0 3px 16px;
    margin: unset;
    font-size: 1.1rem;
}
